body {
    background-color: #333333;
}
.tip {
    background-color: ghostwhite;
    border: solid 1px #dadada;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    margin: 10px auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tip-title {
    display: flex;
    margin-top: 0;
    width: 100%;
}
.navigator-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#tip1>div {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: solid 1px #ccc;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#tip3>div, #tip5>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#tip3>.tip-content>img {
    margin-top: 20px;
    width: 200px;
}

#tip5>.tip-content>img {
    margin-top: 20px;
    width: 320px;
    height: 240px;
}